<section class="banner">
  <div class="banner-container page-width" style="padding-top: {{ section.settings.padding_top }}px; padding-bottom: {{ section.settings.padding_bottom }}px;">
    <div style="
    display: grid;
">
      <div class="text-banner-container">
        <h1>{{ section.settings.title }}</h1>
        <p>{{ section.settings.sub-title }}</p>

      </div>

      <div class="features">
        <div class="features-desc">
          <p>{{ section.settings.feature1 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature2 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature3 }}</p>
        </div>
        <div class="features-slider-track">
          <p>{{ section.settings.feature1 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature2 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature3 }}</p>
          <p class="palka">|</p>

          <!-- Копия для бесконечного цикла -->
          <p>{{ section.settings.feature1 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature2 }}</p>
          <p class="palka">|</p>
          <p>{{ section.settings.feature3 }}</p>
          <p class="palka">|</p>
        </div>
      </div>

    </div>
    <div class="image-banner-container">
      <img src="{{ section.settings.image | image_url }}">
    </div>
  </div>

</section>

<style>

  .features-slider-track {
    display: flex;
    width: max-content;
    animation: scrollText 15s linear infinite;
    align-items: center;
    gap: 15px;
  }
  .features-slider-track {
    display: none;
  }
  .features-desc {
    display: flex;
    gap: 15px;
  }
  .palka {
    color: #DA9DFF;
  }
  .text-banner-container p {
    margin: 0;
    font-size: 16px;
  }
  .banner-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .features {
    display: flex;
    margin: 20px 0;
    gap: 15px;
  }
  .features p {
    font-size: 12px;
  }
  .text-banner-container h1 {
    margin: 0;
    font-family: Grtsk !important;
  }
  .banner {
    background-color: #000;
  }
  h1,
  p {
    color: #fff;
  }

  @media (max-width: 768px) {
    .features-desc {
      display: none;
    }
    .banner-container {
      display: grid;
      align-items: center;
      justify-content: space-between;
      grid-template-columns: 1fr;
    }
    .text-banner-container h1 {
      font-size: 36px !important;
      text-align: center;
    }
    .text-banner-container p {
      text-align: center;
    }
    .features {
      display: flex;
      margin: 20px 0;
      gap: 15px;
    }
    .image-banner-container {
      display: flex;
      justify-content: center;
      grid-row: 1;
    }
    .features {
      overflow: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
    }
    .features-slider-track {
      display: flex;
      width: max-content;
      animation: scrollText 15s linear infinite;
      align-items: center;
      gap: 15px;
    }
    .features {
      overflow: hidden;
      position: relative;
      height: 20px;
    }
    .image-banner-container img {
      max-width: 345px;
    }
  }
  @keyframes scrollText {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @media (min-width: 769px) {
    .features-slider-track {
      animation: none;
      transform: none;
    }
  }
</style>

{% schema %}
  {
    "name": "banner",
    "settings": [
      {
        "type": "html",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "feature1",
        "label": "Feature 1"
      },
      {
        "type": "text",
        "id": "feature2",
        "label": "Feature 2"
      }, {
        "type": "text",
        "id": "feature3",
        "label": "Feature 3"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 0
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "default": 0
      }
    ],
    "presets": [
      {
        "name": "banner"
      }
    ]
  }
{% endschema %}