<section class="installation-guide page-width">
  <div class="container">
    <div class="steps">
      {% for block in section.blocks %}
        <div class="step">
          <div class="step-text {% cycle '', 'reverse' %}">
            <div class="text-container">
              <div class="title-container">
                <p>{{ block.settings.title }}</p>
                <p>|</p>
                <p>{{ block.settings.title1 }}</p>
              </div>
              <p>{{ block.settings.text }}</p>
            </div>
            {% if block.settings.image %}
              <div class="step-image">
                <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.title }}">
              </div>
            {% endif %}
          </div>
          <div class="fully-legal-container">
            <div class="fully-legal">
              {{ block.settings.trust_bage1svg }}
              <p>{{ block.settings.trust_bage1 }}</p>
            </div>
            <div class="fully-legal">
              {{ block.settings.trust_bage2svg }}
              <p>{{ block.settings.trust_bage2 }}</p>
            </div>
            <div class="fully-legal">
              {{ block.settings.trust_bage3svg }}
              <p>{{ block.settings.trust_bage3 }}</p>
            </div>
          </div>
          <div class="separator-123">
            <p></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<style>
  .separator-123 {
    background-color: #b9b6b6;
    height: 1px;
    width: 100%;
    margin: 30px 0;
    border-radius: 15px;
  }
  .step:last-child .separator-123 {
    display: none;
  }
  .step:first-child {
    margin-top: 35px;
  }
  .fully-legal-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
  }
  .fully-legal {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #F7F7F7;
    border-radius: 15px;
    padding: 2px 25px;
    justify-content: center;
  }
  .fully-legal p {
    color: #000;
    font-weight: 700;
    font-size: 20px;
  }
  .installation-guide {
    text-align: left;
    padding: 0 20px 40px;
  }
  .header img {
    max-width: 120px;
    height: auto;
  }
  .steps {
    display: flex;
    flex-direction: column;
  }
  .step {
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
  }
  .step-text {
    flex: 1;
  }
  .step-image img {
    width: 100%;
    height: auto;
  }
  .buttons {
    display: grid;
    gap: 10px;

  }
  .button {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
    justify-content: space-between;
    font-size: 16px;
    background-color: #F7F7F7;
    transition: all 0.2s;
  }
  .button:hover rect {
    fill: #DA9DFF;
    transition: all 0.2s;
  }
  .button:hover path {
    fill: #000;
    transition: all 0.2s;
  }
  .button .icon {
    margin-left: 5px;
  }
  .icon {
    transition: all 0.2s;
  }
  .step-text {
    display: flex;
    justify-content: space-between;
  }
  .step-image {
    margin: 0 15px;
    max-width: 250px;
    width: 100%;
  }
  .text-container p {
    max-width: 900px;
  }
  .step-text img {
    width: 100%;
    max-width: 270px;
    height: auto;
  }
  .title-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .title-container p:first-child {
    font-size: 24px;
    font-weight: 700;
    font-family: Grtsk !important;
    color: #000;
    margin: 0;
  }
  .title-container p:nth-child(2) {
    font-size: 24px;
    color: #000;
    margin: 0;
  }
  .title-container p:nth-child(3) {
    font-size: 16px;
    color: #000;
    margin: 0;
  }
  .text-container p {
    font-size: 16px;
    color: #000;
    margin: 12px 0 30px;
  }

  .buttons.button-count-1 {
    grid-template-columns: 1fr;
  }
  .buttons.button-count-2 {
    grid-template-columns: 1fr 1fr;
  }
  .buttons.button-count-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .buttons.button-count-3 a:nth-child(3) {
    grid-column: span 2;
  }
  .step-text {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
  }

  .step-text.reverse {
    flex-direction: row-reverse;
  }

  .text-container,
  .step-image {
    flex: 1;
  }

  .step-image img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  @media screen and (max-width: 750px) {
    .step-image {
      grid-row: 1;
    }
    .step-text {
      display: grid;
      justify-items: center;
    }
    .buttons.button-count-1 {
      grid-template-columns: 1fr;
    }
    .buttons.button-count-2 {
      grid-template-columns: 1fr;
    }
    .buttons.button-count-3 {
      grid-template-columns: 1fr;
    }
    .buttons.button-count-3 a:nth-child(3) {
      grid-column: span 1;
    }

    .title-container p:nth-child(3) {
      font-size: 14px;
    }
    .fully-legal-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
    }

    .fully-legal {
      display: flex;
      align-items: center;
      gap: 15px;
      background-color: #F7F7F7;
      border-radius: 15px;

      justify-content: center;
    }

    .fully-legal:nth-child(3) {
      grid-column: 1 / -1;
      /* Занимает обе колонки */
    }
    .fully-legal p {
      font-size: 12px;
    }
  }


  @media screen and (max-width: 750px) {
    .title-container p:first-child {
      font-size: 22px;
    }
    .title-container p:nth-child(2) {
      font-size: 22px;
    }
    .title-container p:nth-child(3) {
      font-size: 12px;
    }
  }
  @media screen and (max-width: 391px) {
    .title-container p:first-child {
      font-size: 20px;
    }
    .title-container p:nth-child(2) {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 376px) {
    .title-container p:first-child {
      font-size: 18px;
    }
    .title-container p:nth-child(2) {
      font-size: 18px;
    }
  }
</style>

{% schema %}
  {
    "name": "Product Features",
    "settings": [],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "title"
          },
          {
            "type": "text",
            "id": "title1",
            "label": "Title",
            "default": "title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Description",
            "default": "Description"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Step Image"
          }, {
            "type": "text",
            "id": "trust_bage1",
            "label": "Trust Bage",
            "default": "Fully legal"
          }, {
            "type": "textarea",
            "id": "trust_bage1svg",
            "label": "SVG Bage"
          }, {
            "type": "text",
            "id": "trust_bage2",
            "label": "Trust Bage",
            "default": "Fully legal"
          }, {
            "type": "textarea",
            "id": "trust_bage2svg",
            "label": "SVG Bage"
          }, {
            "type": "text",
            "id": "trust_bage3",
            "label": "Trust Bage",
            "default": "Fully legal"
          }, {
            "type": "textarea",
            "id": "trust_bage3svg",
            "label": "SVG Bage"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product Features",
        "category": "Custom Sections",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}