{% if template == "page.promo" or template == "page.promo-new-york" or template == "page.set-up" or template == "page.faq" %}
  <style>
    #shopify-section-{{ section.id }} {
      position: sticky;
      top: 0;
      width: 100%;
    }

    .ts-announcement {
      background-color: {{ section.settings.background }};
      color: {{ section.settings.color }};
      max-height: 45px;
      transition: max-height 0.3s;
    }

    .ts-announcement .ts-container {
      max-width: 1240px;
      margin: 0 auto;
      padding: 0 50px;
    }

    .ts-announcement__content {
      height: 45px;
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
    }

    .ts-announcement__title {
      color: {{ section.settings.color }};
      font-family: "ShopifySans" !important;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }

    .ts-announcement__link {
      color: #4BFE85;
      font-family: "ShopifySans" !important;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: flex;
      align-items: center;
      text-decoration: none;
      gap: 4px;
    }

    .ts-announcement__link .ts-icon {
      display: flex;
      transition: transform 0.3s;
    }

    .ts-announcement__link:hover .ts-icon {
      transform: translate(2px, -2px);
    }

    .ts-announcement__close {
      display: flex;
      position: absolute;
      right: -10px;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
      cursor: pointer;
    }

    .ts-announcement__close * {
      pointer-events: none;
    }

    .ts-announcement__close svg {
      transition: transform 0.3s;
    }

    .ts-announcement__close:hover svg {
      transform: rotate(90deg);
    }

    @media screen and (max-width: 749px) {
      .ts-announcement .ts-container {
        padding: 0 16px;
      }
    }
  </style>

  <div class="ts-announcement">
    <div class="ts-container">
      <div class="ts-announcement__content">
        <h2 class="ts-announcement__title">
          {{- section.settings.title -}}
        </h2>

        <a href="{{ section.settings.btn_link }}" class="ts-announcement__link">
          <span>{{- section.settings.btn_label -}}</span>
          <span class="ts-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M3.5453 2.12256L3.54926 3.08624L8.32388 3.09951L0.881348 10.5421L1.57287 11.2319L9.01448 3.79024L9.0346 8.55801L9.99948 8.56077L9.97696 3.10402L9.98178 3.10466L9.97782 2.14099L3.5453 2.12256Z"
                fill="#4BFE85" />
            </svg>
          </span>
        </a>

        <span class="ts-announcement__close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="10"
            height="10"
            viewBox="0 0 10 10"
            fill="none">
            <path d="M10 1.00714L8.99286 0L5 3.99286L1.00714 0L0 1.00714L3.99286 5L0 8.99286L1.00714 10L5 6.00714L8.99286 10L10 8.99286L6.00714 5L10 1.00714Z" fill="white" />
          </svg>
        </span>
      </div>
    </div>
  </div>

  <script>
    document.querySelector(".ts-announcement .ts-announcement__close").addEventListener("click", () => {
      document.querySelector(".ts-announcement").style.maxHeight = 0;
    })
  </script>
{% endif %}

{% schema %}
  {
    "name": "TS Announcement",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Place your text here."
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "btn_label",
        "label": "Link label",
        "default": "Learn more"
      }, {
        "type": "url",
        "id": "btn_link",
        "label": "Link url"
      }
    ],
    "presets": [
      {
        "name": "TS Announcement"
      }
    ]
  }
{% endschema %}