{{ 'ts-state-page.css' | asset_url | stylesheet_tag }}


<div class="ts-state-page page-width">
  {% if section.settings.title != blank %}
    <h2 class="ts-state-page__title">{{ section.settings.title }}</h2>
  {% endif %}
     <input autocomplete="off" type="search" id="state-search" name="state-search" placeholder="{{ section.settings.select_placeholder }}" />
    <div class="ts-state-page__options">
      {% assign sortCollections = collections | sort : "title" %}
      {% assign revesedCollections = sortCollections | reverse %}
      {% for curCollection in sortCollections %}
        {% for stateYearCol in revesedCollections  %}
          {% if stateYearCol.metafields.custom.year_fitler_name %}
            {% if stateYearCol.metafields.custom.year_fitler_name == curCollection.metafields.custom.canada_filter_name and stateYearCol.metafields.custom.year_order == "1"%}
                {% assign handle = stateYearCol.handle %}
                {% break %}
              {% elsif stateYearCol.metafields.custom.year_fitler_name == curCollection.metafields.custom.canada_filter_name%}
                {% assign handle = stateYearCol.handle %}
                {% continue %}
               {% else %}
              {% unless handle %}
                {% assign handle = curCollection.handle %}
                {% endunless %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% if curCollection.metafields.custom.canada_filter_name and curCollection.all_products_count > 0 %}
        <div class="ts-state-page__option" data-handle="{{ handle}}">
          {{ curCollection.metafields.custom.canada_filter_name}}
        </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
<script>
document.addEventListener("DOMContentLoaded", (event) => {
  const search = document.querySelector("#state-search");
  const optionsContainer = document.querySelector(".ts-state-page__options");
  search.addEventListener("click",function(){
    optionsContainer.style.pointerEvents = "all"
  })
  const options = document.querySelectorAll(".ts-state-page__option");
  options.forEach(option => {
    option.addEventListener("click",function(){
      search.value = option.textContent.trim();
      const currentHandle = option.dataset.handle
     window.location = "https://alite.cc/collections/" + currentHandle;
    })
  })
  search.addEventListener("keydown", () => {
    options.forEach(option =>{
      option.style.display = "flex";
    })
  setTimeout(function(){
    options.forEach(option =>{
      const state = option.textContent.trim().toLowerCase();
      const input = search.value.toLowerCase();
      if(!state.startsWith(input)){
      option.style.display = "none";
      }
    })
  }, 1);
});

  });
</script>

{% schema %}
  {
    "name": "TS Canada",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choose your city!"
      },
      {
        "type": "text",
        "id": "select_placeholder",
        "label": "Select",
        "default": "City"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection connected"
      }
    ],
    "presets": [
      {
        "name": "TS Canada"
      }
    ]
  } 
{% endschema %}